.git
.gitignore
.editorconfig
README.md
.env
.env.*
tests/
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.DS_Store
Thumbs.db
phpunit.xml
docker-compose.yaml
*.md

# Keep these for build
!package.json
!package-lock.json
!composer.json
!composer.lock
!resources/
!public/
!docker/
